<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a  routerLink="/" >
        <button mat-menu-item>Menu Principal</button>
      </a>
      <a  routerLink="/Juegos" >
        <button mat-menu-item>Juegos</button>
      </a>
      <a  routerLink="/QuienSoy" >
        <button mat-menu-item>Quien Soy?</button>
      </a>
    </mat-menu>
    <span>Sala de Juegos</span>
    <span class="example-spacer"></span>
    <div class="actionButtons">
      <div>
        <button mat-button color="accent" (click)=Logout()>Log Out</button>
      </div>
    </div>
  </mat-toolbar>
  <div class="main-container">
    <div class="score" *ngIf="score != 0">Hello {{playerName}} <br> your Highest Score is : {{score}}</div>
    <h1>MemoTest</h1>
    <div *ngIf="currentStreak !== 0">Your current Streak is : {{currentStreak}}</div>
    <h4 class="explanation">When you click "Begin" there will be a sequence of numbers
      <br> you will need to memorize! Good luck (You have 3 attempts)
    </h4>
    <h4 *ngIf="attempts > 0">Attempts: <span class="attempts">{{attempts}}</span></h4>
    <div *ngIf="displayNumbers" class="numbers-container">
      <span *ngFor="let item of newGame.numberList">
        {{item}}
      </span>
    </div>
    <div *ngIf="displayNumbers" class="timer">
      {{timer}}
    </div>
    
    <div *ngIf="showInput">
      <form class="numbers-form">
        <mat-form-field class="example-full-width">
          <mat-label>Type Sequence</mat-label>
          <input matInput [(ngModel)]="userSequence" name="userSequence" type="number">
        </mat-form-field>
        <button mat-raised-button  (click)="CheckSequence(userSequence)" color="primary">Check</button>
      </form>
    </div>
    <button mat-raised-button color="primary" (click)="Begin()" *ngIf="!displayNumbers && !showInput">Begin</button>
</div>