<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a  routerLink="/" >
        <button mat-menu-item>Menu</button>
      </a>
      <a  routerLink="/Games" >
        <button mat-menu-item>Games</button>
      </a>
      <a  routerLink="/QuienSoy" >
        <button mat-menu-item>Quien Soy?</button>
      </a>
    </mat-menu>
    <span>Sala de Juegos</span>
    <span class="example-spacer"></span>
    <div class="actionButtons">
      <div>
        <button mat-button color="accent" (click)=Logout()>Log Out</button>
      </div>
    </div>
  </mat-toolbar>
<div class="main-container">
  <div class="score" *ngIf="score != 0">Hello {{playerName}} <br> your Highest Score is : {{score}}</div>
  <h1>Rock, Paper & Scissors</h1>
  <div *ngIf="currentStreak !== 0">Your current Streak is : {{currentStreak}}</div>
    <div class="game-container" *ngIf="gameStarted">
      <div class="results-container">
          <div class="rivals">
              Machine - You 
          </div>
          <div>{{newGame?.machineScore}} - {{newGame?.playerScore}}</div>
      </div>
      <h2>Pick</h2>
      <div class="clarification">
        Whoever reach's 3 , wins!
      </div>
      <div class="optionsContainer">
          <div class="optionContainer">
              <button mat-raised-button color="accent" (click)="pick(0)" >Rock</button>
          </div>
          <div class="optionContainer">
              <button mat-raised-button color="accent" (click)="pick(1)">Paper</button>
          </div>
          <div class="optionContainer">
              <button mat-raised-button color="accent" (click)="pick(2)">Scissors</button>
          </div>
      </div>
    </div>
      <button mat-raised-button color="primary" *ngIf="!gameStarted" (click)="Begin()">Begin</button>
</div>
