<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a  routerLink="/" >
        <button mat-menu-item>Menu Principal</button>
      </a>
      <a  routerLink="/Juegos" >
        <button mat-menu-item>Juegos</button>
      </a>
      <a  routerLink="/QuienSoy" >
        <button mat-menu-item>Quien Soy?</button>
      </a>
    </mat-menu>
    <span>Sala de Juegos</span>
    <span class="example-spacer"></span>
    <div class="actionButtons">
      <a routerLink="/Registro">
        <button mat-button>Registrarse</button>
      </a>
      <a  routerLink="/Login">
        <button mat-button color="accent">Log In</button>
      </a>
    </div>
  </mat-toolbar>
  <div class="main-container">
    <h1>MemoTest</h1>
    <h4 class="explanation">When you click "Begin" there will be a sequence of numbers-container
      <br> you will need to memorize! Good luck
    </h4>
    <div *ngIf="displayNumbers" class="numbers-container">
      <span *ngFor="let item of newGame.numberList">
        {{item}}
      </span>
    </div>
    <div *ngIf="displayNumbers" class="timer">
      {{timer}}
    </div>
    
    <div *ngIf="showInput">
      <form class="numbers-form">
        <mat-form-field class="example-full-width">
          <mat-label>Type Sequence</mat-label>
          <input matInput [(ngModel)]="userSequence" name="userSequence" type="number">
        </mat-form-field>
        <button mat-raised-button  (click)="CheckSequence(userSequence)" color="primary">Check</button>
      </form>
    </div>
    <button mat-raised-button color="primary" (click)="Begin()" *ngIf="!displayNumbers && !showInput && !enableReset">Begin</button>
    <button mat-raised-button color="accent" (click)="Reset()" *ngIf="enableReset">Reset</button>
</div>