<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <div>
      <button mat-button color="accent" (click)=Logout()>Log Out</button>
    </div>
  </div>
</mat-toolbar>
<div class="main-container" >
  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Press the Key!</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/keyPress.jpg">
    <mat-card-content>
      <p>A game of velocity!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('KeyPress')">Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Tic-Tac-Toe</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/tateti.jpg">
    <mat-card-content>
      <p>Clasic TicTacToe</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('TicTacToe')">Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>MemoTest</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/memotest.jpg">
    <mat-card-content>
      <p>Let's see how good you are with your memory</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('MemoTest')">Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Anagramam</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/anagrama.jpg">
    <mat-card-content>
      <p>Let's get confused</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('Anagrama')">Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Agile Maths</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/Mind.jpg">
    <mat-card-content>
      <p>Be Quick solving math problems</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('Agilidad')">Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Rock , Paper & Scissors</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/rock-paper.jpg">
    <mat-card-content>
      <p>Play against the machine this beautiful game!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('PiedraPapelTijera')">Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Guess the secret number!</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/Guess.jpg">
    <mat-card-content>
      <p>Clever Game</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('Adivina')">Play</button>
    </mat-card-actions>
  </mat-card>
</div>