<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
    <a  routerLink="/Games" >
      <button mat-menu-item>Games</button>
    </a>
  </mat-menu>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <div>
      <button mat-button color="accent" (click)=Logout()>Log Out</button>
    </div>
  </div>
</mat-toolbar>
<div class="login-container">
  <form class="example-form">
    <h2>Registrarse</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Repita E-mail</mat-label>
      <input matInput type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Repita contraseña</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Registrarse</button>
  </form>
</div>