<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu</button>
    </a>
    <a  routerLink="/Games" >
      <button mat-menu-item>Games</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons"> 
    <div>
      <button mat-button color="accent" (click)=Logout()>Log Out</button>
    </div>
  </div>
</mat-toolbar>
<div class="main-container">
  <div class="score" *ngIf="score != 0">Hello {{playerName}} <br> your Highest Score is : {{score}}</div>
  <h1>Guess the messy word!</h1>
  <div *ngIf="currentStreak !== 0">Your current Streak is : {{currentStreak}}</div>
  <h3>You have only 3 attempts</h3>
  <div class="game-container" *ngIf="!enableReset && gameStarted">
    <h2 class="palabra-desordenada">
      {{unorderedWord}}
    </h2>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Write the word</mat-label>
        <input matInput [(ngModel)]="userWord" name="userWord">
      </mat-form-field>
      <button mat-raised-button [disabled]="disableButton" (click)="CheckWord(userWord)" color="primary">Check</button>
    </form>

    <h4>Attempts: <span class="attempts">{{attempts}}</span></h4>

  </div>
  <button mat-raised-button *ngIf="enableReset && gameStarted" (click)="Reset()" color="accent">Reset</button>
  <button mat-raised-button *ngIf="!enableReset || !gameStarted" (click)="Begin()" color="primary">Begin</button>

</div>