<app-cabecera>  </app-cabecera>
<div class="principal-container" >
  <mat-card class="juegos-card" (click)="redirect('Games')">
    <mat-card-header>
      <mat-card-title>Games</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/games.jpg">
    <mat-card-content>
      <p>Here you will find 7 games to test your dexterity, feeling ready for the challengue?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Lets Play</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card" (click)="redirect('Results')">
    <mat-card-header>
      <mat-card-title>Result List</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/results.jpg">
    <mat-card-content>
      <p>Results list, ordered and with search conditions</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Show me Results</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="juegos-card" (click)="redirect('Players')">
    <mat-card-header>
      <mat-card-title>Players</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/players.jpg">
    <mat-card-content>
      <p>List of Players</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">See Players</button>
    </mat-card-actions>
  </mat-card>
</div>