<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a  routerLink="/" >
        <button mat-menu-item>Menu Principal</button>
      </a>
      <a  routerLink="/Juegos" >
        <button mat-menu-item>Juegos</button>
      </a>
      <a  routerLink="/QuienSoy" >
        <button mat-menu-item>Quien Soy?</button>
      </a>
    </mat-menu>
    <span>Sala de Juegos</span>
    <span class="example-spacer"></span>
    <div class="actionButtons">
      <a routerLink="/Registro">
        <button mat-button>Registrarse</button>
      </a>
      <a  routerLink="/Login">
        <button mat-button color="accent">Log In</button>
      </a>
    </div>
  </mat-toolbar>
<div class="piedraPapelTijeraContainer">
    <h1>Piedra Papel Tijera</h1>
    <mat-divider></mat-divider>
    <div class="resultsContainer">
        <div>Score</div>
        <div>
            La maquina: {{nuevoJuego.scoreMaquina}} - Tu: {{nuevoJuego.scoreJugador}}
        </div>
    </div>
    <h2>Elige una opción (Las partidas son a 3)</h2>
    <div class="optionsContainer">
        <div class="optionContainer">
            <button mat-raised-button color="accent" (click)="pick(0)" >Piedra</button>
        </div>
        <div class="optionContainer">
            <button mat-raised-button color="accent" (click)="pick(1)">Papel</button>
        </div>
        <div class="optionContainer">
            <button mat-raised-button color="accent" (click)="pick(2)">Tijera</button>
        </div>
    </div>
    <div>
        {{displayMessage}}
    </div>
</div>
