<div class="main-container" >
  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>TaTeTi</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/tateti.jpg">
    <mat-card-content>
      <p>Clasico TaTeTi</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('TicTacToe')">Quiero Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>MemoTest</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/memotest.jpg">
    <mat-card-content>
      <p>A ver que tan bueno eres con tu memoria</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('MemoTest')">Quiero Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Anagrama</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/anagrama.jpg">
    <mat-card-content>
      <p>Juego de Ingenio</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('Anagrama')">Quiero Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Velocidad y agilidad aritmética</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/Mind.jpg">
    <mat-card-content>
      <p>Juego de agilidad mental</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('Agilidad')">Quiero Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Piedra Papel o Tijera</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/rock-paper.jpg">
    <mat-card-content>
      <p>Juega contra la máquina</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('PiedraPapelTijera')">Quiero Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="juegos-card">
    <mat-card-header>
      <mat-card-title>Adivina el número secreto</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/imagenes/nuevas/Guess.jpg">
    <mat-card-content>
      <p>Juego de ingenio</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="Juego('Adivina')">Quiero Jugar</button>
    </mat-card-actions>
  </mat-card>
</div>