<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu Principal</button>
    </a>
    <a  routerLink="/Juegos" >
      <button mat-menu-item>Juegos</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <div>
      <button mat-button color="accent" (click)=Logout()>Log Out</button>
    </div>
  </div>
</mat-toolbar>

<div class="main-container">
  <div class="score" *ngIf="score != 0">Hello {{playerName}} <br> your Highest Score is : {{score}}</div>
  <h1>Guess the number!</h1>
  <div *ngIf="currentStreak !== 0">Your current Streak is : {{currentStreak}}</div>
  <h3>You have only 5 attempts</h3>
  <span class="hint">hint: it's in the range of 0 - 100</span>
  <h4 *ngIf="attempts>0" class="attempts">Attempts: <span class="attempts">{{attempts}}</span></h4>
  <form class="example-form">
    <mat-form-field *ngIf="numberGenerated" class="example-full-width">
      <mat-label>Insert number</mat-label>
      <input matInput [(ngModel)]="newGame.inputNumber" name="inputNumber">
    </mat-form-field>

    <button *ngIf="displayVerify || newGame.secretNumber && newGame.secretNumber!=0" (click)="Verify()" mat-raised-button color="accent">Verify</button>
    <button *ngIf="!newGame.secretNumber || newGame.secretNumber==0 " (click)="Begin()" mat-raised-button color="primary">Begin</button>
  </form>
  </div>

