<mat-toolbar>
  <a routerLink="/">
    <span>Sala de Juegos</span>
  </a>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <a routerLink="/Registro">
      <button mat-button>Registrarse</button>
    </a>
  </div>
</mat-toolbar>
<div class="login-container">
  <form class="example-form">
    <h2>Welcome</h2>
    <button mat-raised-button color="primary" (click)="FillCredentials()">Fill Credentials</button>

    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput name="email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="Login(email,password)">Loguearse</button>
    <!-- <mat-checkbox class="example-margin" [(ngModel)]="checked">Recuerdame</mat-checkbox> -->
  </form>
</div>