<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu Principal</button>
    </a>
    <a  routerLink="/Juegos" >
      <button mat-menu-item>Juegos</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <a routerLink="/Registro">
      <button mat-button>Registrarse</button>
    </a>
    <a  routerLink="/Login">
      <button mat-button color="accent">Log In</button>
    </a>
  </div>
</mat-toolbar>

<div class="main-container">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ingrese Numero</mat-label>
      <input matInput [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado">
    </mat-form-field>

    <div [hidden]="ocultarVerificar">
      <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" mat-raised-button color="accent">Verificar</button>
    </div>

    <button *ngIf="nuevoJuego.numeroSecreto==0" (click)="generarnumero()" mat-raised-button color="primary">Nuevo Numero Secreto</button>
    
    <!-- <button mat-raised-button color="primary">Loguearse</button> -->

  </form>
  <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
  <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
  <div id="snackbar">{{Mensajes}}</div>
</div>

