<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu Principal</button>
    </a>
    <a  routerLink="/Juegos" >
      <button mat-menu-item>Juegos</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <a routerLink="/Registro">
      <button mat-button>Registrarse</button>
    </a>
    <a  routerLink="/Login">
      <button mat-button color="accent">Log In</button>
    </a>
  </div>
</mat-toolbar>

<div class="main-container">
  <h1>Guess the number!</h1>
  <span class="hint">hint: it's in the range of 0 - 100</span>
  <form class="example-form">
    <mat-form-field *ngIf="numberGenerated && !enableReset" class="example-full-width">
      <mat-label>Insert number</mat-label>
      <input matInput [(ngModel)]="newGame.inputNumber" name="inputNumber">
    </mat-form-field>

    <button *ngIf="displayVerify || newGame.secretNumber && newGame.secretNumber!=0 && !enableReset" (click)="Verify()" mat-raised-button color="accent">Verify</button>
    <button *ngIf="!newGame.secretNumber || newGame.secretNumber==0 " (click)="Begin()" mat-raised-button color="primary">Begin</button>
    <button *ngIf="enableReset" (click)="Reset()" mat-raised-button color="accent">Reset</button>
  </form>
  </div>

