<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu Principal</button>
    </a>
    <a  routerLink="/Juegos" >
      <button mat-menu-item>Juegos</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <a routerLink="/Registro">
      <button mat-button>Registrarse</button>
    </a>
    <a  routerLink="/Login">
      <button mat-button color="accent">Log In</button>
    </a>
  </div>
</mat-toolbar>

<div class="main-container">
  <h1>
    Agilidad Aritmetica
  </h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Primer Numero</mat-label>
      <input matInput readonly [(ngModel)]="nuevoJuego.primerNumero" name="primerNumero">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Operador</mat-label>
      <input matInput readonly [(ngModel)]="nuevoJuego.operadorSeleccionado" name="operador">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Segundo Numero</mat-label>
      <input matInput readonly [(ngModel)]="nuevoJuego.segundoNumero" name="segundoNumero">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field class="example-full-width">
      <mat-label>Su Respuesta</mat-label>
      <input matInput [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado">
    </mat-form-field>

    <div [hidden]="ocultarVerificar" >
      <button (click)="verificar()" mat-raised-button color="accent">Verificar {{Tiempo}}</button>
    </div>

    <div [hidden]="!ocultarVerificar">
      <button (click)="NuevoJuego()" mat-raised-button color="accent">Nuevo</button>
    </div>
  </form>
  
  <h3 [hidden]="!nuevoJuego.gano">Excelente!</h3>
  <h3 [hidden]="!ocultarVerificar"> Aprete Nuevo Juego y resuelta la operación aritmética </h3>

</div>
