<form name="juego">
<h3 [hidden]="!ocultarVerificar"> Aprete Nuevo Juego y resuelta la operación aritmética </h3>
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.primerNumero" placeholder="ingrese numero" name="primerNumero" type="text" class="form-control" style="width:50%" readonly/>
  
  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.operadorSeleccionado" placeholder="ingrese numero" name="operadorSeleccionado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.segundoNumero" placeholder="ingrese numero" name="segundoNumero" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
     
   </li>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
  </li>
  <li>
    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
  </li>
</ul>

</form>