<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a  routerLink="/" >
        <button mat-menu-item>Menu</button>
        </a>
        <a  routerLink="/Games" >
        <button mat-menu-item>Games</button>
        </a>
        <a  routerLink="/QuienSoy" >
        <button mat-menu-item>Quien Soy?</button>
        </a>
    </mat-menu>
    <span>Sala de Juegos</span>
    <span class="example-spacer"></span>
    <div class="actionButtons"> 
        <div>
            <button mat-button color="accent" (click)=Logout()>Log Out</button>
        </div>
    </div>
</mat-toolbar>
<div class="main-container">
    <div class="score" *ngIf="score != 0">Hello {{playerName}} <br> your Highest Score is : {{score}}</div>
    <h1>Welcome KeyPress</h1>
    <h2>The Goal is to press the  'C'  key as many times as you can!</h2>
    <div *ngIf="!displayMessage">
        <div class="timer">
        {{timer}}
        </div>
    </div>    
    <div *ngIf="displayMessage">
        <div class="congratsMessage">Congratulations you press the key {{keyPressCount}} times!</div>
    </div>    

    <div *ngIf="displayCounter && !displayMessage" class="counterContainer">
        <p class="counterLabel">Key Press Count:</p>
        <div class="counter">
            {{keyPressCount}}
        </div>
    </div>
    <div *ngIf="!displayMessage && !displayCounter">
        <button mat-raised-button color="accent" (click)="Begin()">Begin</button>
    </div>    
    <div *ngIf="displayMessage">
        <button mat-raised-button color="accent" (click)="PlayAgain()">Play Again</button>
    </div>    
</div>