<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu</button>
    </a>
    <a  routerLink="/Games" >
      <button mat-menu-item>Games</button>
    </a>
  </mat-menu>
  <span>Quien Soy?</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">  
    <div>
      <button mat-button color="accent" (click)=Logout()>Log Out</button>
    </div>
  </div>
</mat-toolbar>
  <div class="main-container">
    <img src="./assets/imagenes/nuevas/profile.png" class="profile-img" width="350" height="350">
    <h1>Hola!</h1>
    <h2>Soy Carlos Agustin Mori</h2>
    <a href="https://github.com/carlosmori" target="_blank">
       <img src="../../../assets/imagenes/github.png" alt="" width="50px" height="50px">
    </a>

    
    <div class="about-me">Tengo 25 años, soy Desarrollador Fullstack en Flybondi hace 8 meses y programo hace casi 4. <br> Aparte de la programacion soy amante de los animales y musico por Hobbie</div>
    <div class="tp">Para mi Trabajo Practico he decidido hacer un juego que cuente cierta cantidad de pulsaciones de teclas, me parece un juego sencillo, divertido y competitivo</div>
  </div>