
<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
    <a href="https://github.com/carlosmori"target="_blank">
      <button mat-menu-item>Github</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <a routerLink="/Registro">
      <button mat-button>Registrarse</button>
    </a>
    <a  routerLink="/Login">
      <button mat-button color="primary">Log In</button>
    </a>
  </div>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <img src="../../../assets/imagenes/github.png">
  </button> -->
</mat-toolbar>

      <!-- <a href="https://github.com/carlosmori"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
  </ul>
</div> -->
