<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a  routerLink="/" >
      <button mat-menu-item>Menu Principal</button>
    </a>
    <a  routerLink="/Juegos" >
      <button mat-menu-item>Juegos</button>
    </a>
    <a  routerLink="/QuienSoy" >
      <button mat-menu-item>Quien Soy?</button>
    </a>
  </mat-menu>
  <span>Sala de Juegos</span>
  <span class="example-spacer"></span>
  <div class="actionButtons">
    <a routerLink="/Registro">
      <button mat-button>Registrarse</button>
    </a>
    <a  routerLink="/Login">
      <button mat-button color="accent">Log In</button>
    </a>
  </div>
</mat-toolbar>
<div class="anagrama-container">
  <h1>Adivine la Palabra desordenada</h1>
  <mat-divider></mat-divider>
  <h2 class="palabra-desordenada">
    {{palabraDesordenada}}
  </h2>
  <mat-divider></mat-divider>
  <form class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Ingresa Palabra</mat-label>
    <input matInput [(ngModel)]="palabraUsuario" name="palabraUsuario">
  </mat-form-field>
  <button mat-raised-button [disabled]="disableButton" (click)="chequearPalabra(palabraUsuario)" color="primary">Chequear Palabra</button>
</form>

<h4>{{message}}  Intentos: {{intentos}}</h4>

<button mat-raised-button *ngIf="showResetButton" (click)="resetGame()" color="warn">Jugar de vuelta</button>

</div>